{%- assign plain_text = block.settings.text | strip_newlines | strip_html | strip -%}
{%- assign block_index = section.blocks | find_index: 'id', block.id -%}

{%- unless plain_text == '' -%}
  <div
    class="announcement-bar__slide"
    {{ block.shopify_attributes }}
  >
    <p class="announcement-bar__text">
      {{ block.settings.text }}
    </p>
    {% if block.settings.link != blank %}
      <a
        class="announcement-bar__link"
        href="{{ block.settings.link }}"
      >
        <span class="visually-hidden">
          {{ block.settings.text | strip_html }}
        </span>
      </a>
    {% endif %}
  </div>
{%- endunless -%}
