/* Reset perspective on mobile */
.header-logo {
  perspective: none;
}

.header-logo__image {
  transform-style: flat;
  backface-visibility: hidden;
}

/* Enable animation only on desktop */
@media screen and (min-width: 768px) {
  .header-logo {
    perspective: 1000px;
  }

  .header-logo__image {
    transform-style: preserve-3d;
    backface-visibility: visible;
  }
}
